.me {
    position:relative;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: 2px 2px 2px 5px rgba(0,0,0,0.50), inset 0 1px 3px 0 rgba(0,0,0,0.50), inset 0 1px 3px 0 rgba(0,0,0,0.50);
    border-radius: 8px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    padding-top:150px;
}
.me__img {
    position: relative;
}

.me__title {
    font-family: 'Lobster', cursive;
    font-size: 4vw;
    color: #000000;
}
.me__mail{
    
}

.me p {
    font-family: Dosis;
    font-size: 2vw;
    color: #000000;
}
.me--hidden {
    opacity:0;
    transform:translate(100%);
}

.me--expose {
    opacity: 1;
    transform: translate(0px);
    transition: all 1s ease-out;
}

@media (max-width:700px){
    .me {
        margin-left: 20px;
        margin-right: 20px;
    }


    .me__title {
        font-size: 5vw;
    }


    .me p {
        font-size: 3vw;
    }
}


@media (max-width:400px) {

    .me__title {
        font-size: 6vw;
    }


    .me p {
        font-size: 4vw;
    }
}


